/node_modules
/public/hot
/public/build
/public/storage
/storage/*.key
/storage/app/public
/storage/framework/cache
/storage/framework/sessions
/storage/framework/views
/storage/logs
/vendor
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
pnpm-debug.log
yarn-error.log
/.idea
/.vscode
.env
.env.*.local
.DS_Store
/bootstrap/cache/*.php
*.pdf
*.psd
*.mp4
*.zip
*.rar
*.7z
*.tar
*.gz
*.tgz
*.bz2
*.xz
*.iso
*.dmg
*.mov
*.avi
*.mkv
*.flv
*.wmv
*.mp3
*.wav
*.flac
*.ogg
*.aac
*.jpg
*.jpeg
*.png
*.gif
*.webp
*.tiff
*.tif
*.ai
*.eps
*.sketch
